.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.grid--container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  flex-flow: row;
}

.grid--item {
  flex-flow: column;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0;
}

.grid--spacing-1 { margin: 8px; }
.grid--spacing-2 { margin: 16px; }
.grid--spacing-3 { margin: 24px; }
.grid--spacing-4 { margin: 32px; }

.grid--xs-1 { flex-basis: 8.333333%; max-width: 8.333333%; }
.grid--xs-2 { flex-basis: 16.666667%; max-width: 16.666667%; }
.grid--xs-3 { flex-basis: 25%; max-width: 25%; }
.grid--xs-4 { flex-basis: 33.333333%; max-width: 33.333333%; }
.grid--xs-5 { flex-basis: 41.666667%; max-width: 41.666667%; }
.grid--xs-6 { flex-basis: 50%; max-width: 50%; }
.grid--xs-7 { flex-basis: 58.333333%; max-width: 58.333333%; }
.grid--xs-8 { flex-basis: 66.666667%; max-width: 66.666667%; }
.grid--xs-9 { flex-basis: 75%; max-width: 75%; }
.grid--xs-10 { flex-basis: 83.333333%; max-width: 83.333333%; }
.grid--xs-11 { flex-basis: 91.666667%; max-width: 91.666667%; }
.grid--xs-12 { flex-basis: 100%; max-width: 100%; }
